<p style="color: green"><%= notice %></p>
<div class="container-fluid hero_container">
        <div class="row align-items-center">
            <div class="col-md-10 col-xl-5 mx-auto mb-4">
                <div class="lc-block d-flex justify-content-center">
                    <img class="img-fluid" src="https://i.ibb.co/v1RzWCz/Cat-Hero-Banner.png" srcset="" sizes="" width="" height="" alt="Photo by Alessandro Di Credico" loading="lazy">
                </div>
            </div>
            <div class="col-12 col-xl-5 hero_separation mx-auto">
                <div class="lc-block mb-3 me-lg-5">
                    <div class="" editable="rich">            
                        <h1 class="fw-bolder cattie_font">Purrfect<svg xmlns="http://www.w3.org/2000/svg" data-name="Layer 1" viewBox="21 0 100 110" width="2em" x="0px" y="0px">
                <path d="M50,51.63c-7.2,0-13,4.9-13,10.94s5.83,7.8,13,7.8,13-1.76,13-7.8S57.2,51.63,50,51.63Z"/>
                <path d="M27.79,46.09C25,47.54,24.17,51.4,25.9,54.71s5.38,4.81,8.16,3.35,3.62-5.31,1.89-8.62S30.57,44.63,27.79,46.09Z"/>
                <path d="M72.21,46.09c-2.78-1.46-6.43,0-8.16,3.35s-.89,7.17,1.89,8.62,6.43-.05,8.16-3.35S75,47.54,72.21,46.09Z"/>
                <ellipse cx="41.93" cy="39.07" rx="7.05" ry="9.5" transform="translate(-5.92 7.53) rotate(-9.59)"/>
                <path d="M57.29,48.44c3.84.65,7.66-3,8.53-8.19s-1.53-9.9-5.37-10.55-7.66,3-8.54,8.2S53.44,47.79,57.29,48.44Z"/></svg></h1>
                        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit. Nullam tincidunt ac augue suscipit rhoncus. Donec ante erat, hendrerit sed eleifend et, dapibus at leo. Mauris bibendum mi ut dui sagittis volutpat.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
<h1>Catalogue</h1>

<div class="container">
<div class="card-deck row">
  <% @items.each do |item| %>
   <div class="col-lg-4 "> 
    <div class="card card_item">
    <%if item.picture.attached?%>
      <%= image_tag item.picture, class:"card-img-top", alt: 'picture of cat' %>
    <%else%>
      <img class="card-img-top" src="https://media.istockphoto.com/id/508030340/fr/photo/sunny-chat.jpg?s=2048x2048&w=is&k=20&c=Pwg60DIr0iYbQLwDXCHfdhfUgRKq7UdQsq6bfyAIaGA=" alt="Image de petit chaton beaucoup trop mignon">
    <%end%>
      <div class="card-body ">
        <h5 class="card-title card_item_title"><strong><%= item.title %></strong></h5>
        <p class="card-text"><strong>Price: </strong> <%= item.price %>€</p>
      </div>
      <div class="card-body d-flex justify-content-evenly">
        <%= link_to "Show this item", item, class: "btn btn-primary" %>

        <% if user_signed_in? %>
        <%= button_to "Add to cart", cart_items_path, method: :post, params: { item: item }, class: "btn btn-primary" %>
        <% else %>
        <%= link_to "Add to cart", new_user_session_path, class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>  
  <% end %>
</div> 
</div> 


