<!DOCTYPE html>
<html>
  <head>
    <title>Purrfect</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", media: 'all', "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <body>

    <!-- --------------------------------------------------------- NAVBAR ------------------------------------------------------------------------------------- -->

  <nav class="navbar navbar-expand-lg navbar-light bg-purrfect font_nav">
  <a class="" href="/">
    <img class="logo_nav" src="https://i.ibb.co/frwFYXr/Vector.png" alt="logo Purrfect">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="d-flex justify-content-between collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/">Catalogue</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Reviews</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact Us</a>
      </li>
    </ul>
    <ul class="navbar-nav m-2">
      <div class="nav-item m-2">
      <% if user_signed_in? %>
          <!-- SHOW THE DROPDOWN ASSOCIATED TO THE CONNECTED USER --> 
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" id="navbarDropdownBlog" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">My Profile</a>
              <ul class="dropdown-menu bg_dropdown dropdown-menu-end" aria-labelledby="navbarDropdownBlog">
              <li><span class="dropdown-item dropdown_link"> MON PROFIL</span></li>
              <li><span class="dropdown-item dropdown_link"><%= link_to "Sign out", destroy_user_session_path, method: :delete, data: {turbo_method: :delete} %></span></li>
              </ul>
          </li>
      <% else %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" id="navbarDropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Account
          </a>
          
          <div class="dropdown-menu bg_dropdown" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item dropdown_link" href="/users/sign_in">Log in</a>
            <a class="dropdown-item dropdown_link" href="/users/sign_up">Sign up</a>
          </div>
        <% end %>
        </li>
      </div>
      <li class="nav-item m-2">
        <i class="fa-solid fa-cart-shopping"></i>
        <a class="nav-link" href="#">Cart</a>
      </li> 
      </ul>
  </div>
</nav>



    <%= yield %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>


    <!--  ----------------------------------------------------------FOOTER ------------------------------------------------------------------------------------ -->

<div class="container_footer">
  <div class="m-auto footer_container">
  <footer class="d-flex flex-wrap justify-content-around align-items-start border_top">
  <div class="d-flex flex-column align-items-center p-2 left_box_footer">
    <h5>SUIVEZ-NOUS</h5>
    <ul class="ul_footer">
      <li class="nav-item"><a href="https://github.com/Damien-Generet" class="nav-link px-2">Damien Generet</a></li>
      <li class="nav-item"><a href="https://github.com/tchanque" class="nav-link px-2">Thomas Audevie</a></li>
      <li class="nav-item"><a href="https://github.com/evarellapucky" class="nav-link px-2">Alexia Scherer</a></li>
      <li class="nav-item"><a href="https://github.com/Marcaraph" class="nav-link px-2">Raphaël Marcarini</a></li>
    </ul>
  </div>
    <div class="d-flex flex-column align-items-center">
    <img class="img_footer" src="https://i.ibb.co/ggg1tgc/cat-playing-with-yarn-1.png" alt="cat-playing-with-yarn-1" border="0">
      <p>© 2024 Crakito Team x THP</p>
    </div>  

    <div class="d-flex flex-column p-2 align-items-center">
    <h5> THP </h5><p>Promo Hiver 2024 </p>
    </div>
  </footer>
  </div>
</div>
  </body>
</html>
